footer
  .container.text-center
    p.pull-left © 2016 Company, Inc. All Rights Reserved
    iframe.pull-right(src="https://ghbtns.com/github-btn.html?user=Microsoft&repo=TypeScript-Node-Starter&type=star&count=true" frameborder="0" scrolling="0" width="90px" height="20px" style="margin-top:15px")
      