footer
  .container.text-center
    p.pull-left © 2018 Company, Inc. All Rights Reserved
    iframe.pull-right(src="https://ghbtns.com/github-btn.html?user=Microsoft&repo=TypeScript-Node-Starter&type=star&count=true" width="90" height="20" style="margin-top:15px; border: 0; overflow: hidden;")
