//- Auto[Generating:V1]--->
//- PLEASE DO NOT MODIFY BECAUSE YOUR CHANGES MAY BE LOST.

.
  <!DOCTYPE html>
  <html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Bootstrap Demo</title>
      <meta name="description" content="" />
      <link rel="stylesheet" href="//staging.stackblend.com/css/embed.css">
      <style type="text/css">.-fsb-self-08abd2c9, .-fsb-preset-08abd2c9 { font-family: Courier Prime; font-size: 12px; color: rgba(156, 156, 156, 1); padding-top: 10px; padding-left: 10px; padding-bottom: 10px; padding-right: 10px; -fsb-reusable-name: note; -fsb-reusable-id: 08abd2c9 }</style>
    </head>
    <body>
      
      <div internal-fsb-guid="0" class="container-fluid internal-fsb-begin">
        <div class="row internal-fsb-strict-layout internal-fsb-begin-layout">
          <div internal-fsb-guid="292201d1" class="internal-fsb-element col-12 -fsb-preset-08abd2c9" style="-fsb-inherited-presets: 08abd2c9;">
            Form Controls
          </div>
          <div internal-fsb-guid="5d980940" class="internal-fsb-element col-4 offset-0">
            <input class="form-control form-control-sm" style="display: block; width: 100%;" type="text" placeholder="placeholder" />
          </div>
          <div internal-fsb-guid="88170786" class="internal-fsb-element col-4 offset-0">
            <select class="form-control form-control-sm" style="display: block; width: 100%;">
              <option value="1">
                Item 1
              </option>
              <option value="2">
                Item 2
              </option>
            </select>
          </div>
          <div internal-fsb-guid="7cde047b" class="internal-fsb-element col-12 -fsb-preset-08abd2c9" style="-fsb-inherited-presets: 08abd2c9;">
            Buttons
          </div>
          <button internal-fsb-guid="b015e199" class="internal-fsb-element  col-3 offset-0 btn-primary btn-sm" type="button">
            <div internal-fsb-guid="b015e199-text" class="internal-fsb-element">
              Button
            </div>
          </button>
          <button internal-fsb-guid="b855e151" class="internal-fsb-element  col-3 offset-0 btn-danger btn-sm" type="button">
            <div internal-fsb-guid="b855e151-text" class="internal-fsb-element">
              Button
            </div>
          </button>
        </div>
      </div>
      <script type="text/javascript" src="//staging.stackblend.com/js/Embed.bundle.js"></script>
      <script type="text/javascript">
      var Controller = /** @class */ (function () {
          function Controller() {
              this.dictionary = {};
          }
          Controller.prototype.register = function (guid, eventName, functionName) {
              if (!this.dictionary[guid])
                  this.dictionary[guid] = {};
              this.dictionary[guid][eventName] = functionName;
          };
          Controller.prototype.listen = function (guid) {
              if (this.dictionary[guid]) {
                  for (var key in this.dictionary[guid]) {
                      if (this.dictionary[guid].hasOwnProperty(key)) {
                          var eventName = key;
                          var functionName = this.dictionary[guid][key];
                          var element = this.getElementUsingGUID(guid);
                          element.addEventListener(eventName, this[functionName].bind(this), false);
                      }
                  }
              }
          };
          Controller.prototype.getElementUsingGUID = function (guid) {
              return document.querySelectorAll('[internal-fsb-guid="' + guid + '"]')[0];
          };
          return Controller;
      }());
      var controller = new Controller();
      
      </script>
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
      <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&amp;display=swap" rel="stylesheet">
      <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@1,400;1,700&amp;display=swap" rel="stylesheet">
      <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&amp;display=swap" rel="stylesheet">
      <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@1,1,400;1,1,700&amp;display=swap" rel="stylesheet">
      <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&amp;display=swap" rel="stylesheet">
      <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@1,1,1,400;1,1,1,700&amp;display=swap" rel="stylesheet">
      <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&amp;display=swap" rel="stylesheet">
      <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@1,1,1,1,400;1,1,1,1,700&amp;display=swap" rel="stylesheet">
      <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&amp;display=swap" rel="stylesheet">
      <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@1,1,1,1,1,400;1,1,1,1,1,700&amp;display=swap" rel="stylesheet">
      <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&amp;display=swap" rel="stylesheet">
      <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@1,1,1,1,1,1,400;1,1,1,1,1,1,700&amp;display=swap" rel="stylesheet">
      <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&amp;display=swap" rel="stylesheet">
      <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@1,1,1,1,1,1,1,400;1,1,1,1,1,1,1,700&amp;display=swap" rel="stylesheet">
      <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&amp;display=swap" rel="stylesheet">
      <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@1,1,1,1,1,1,1,1,400;1,1,1,1,1,1,1,1,700&amp;display=swap" rel="stylesheet">
      <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&amp;display=swap" rel="stylesheet">
      <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@1,1,1,1,1,1,1,1,1,400;1,1,1,1,1,1,1,1,1,700&amp;display=swap" rel="stylesheet">
      <script type="text/javascript">
      window.data = !{data} || null;
      </script>
      <script type="text/javascript" src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
      <script type="text/javascript" src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/js/Site.bundle.js"></script>
    </body>
  </html>

//- <--- Auto[Generating:V1]
//- PLEASE DO NOT MODIFY BECAUSE YOUR CHANGES MAY BE LOST.